mat-card
{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 30vw;
}

mat-form-field
{
    width: 100%;
}

mat-list
{
    padding: 2rem 0;
}

@media screen and (max-width: 1200px) {
    mat-card {
        min-width: 50vw;
    }
}